$layout-width-max: 1200px;
$layout-width-middle: 960px;
$layout-width-min: 640px;

$break-mobile-small: 320px;
$break-mobile-medium: 375px;
$break-mobile-large: 425px;

$break-tablet: 768px;
$break-laptop: 1024px;
$break-desktop: 1366px;
$break-desktop-medium: 1440px;
$break-desktop-large: 1600px;

$break-boot-sm: 540px;
$break-boot-sm-max: 576px;
$break-boot-md: 720px;
$break-boot-md-max: 768px;
$break-boot-lg: 960px;
$break-boot-lg-max: 992px;
$break-boot-xl: 1140px;
$break-boot-xl-max: 1200px;
$break-boot-xxl: 1600px;
$break-boot-xxl-max: 1600px;

.container-width {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: $break-tablet) {
      padding: 0 24px;
  }

  @media (min-width: $break-laptop) {
      padding: 0 32px;
  }

  @media (min-width: $break-desktop) {
      padding: 0;
  }
}

.container-width-max {
  @extend .container-width;
  max-width: $layout-width-max;
}

.container-width-middle {
  @extend .container-width;
  max-width: $layout-width-middle;
}

.container-width-min {
  @extend .container-width;
  max-width: $layout-width-min;
}

.flex-left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
